@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --primary-color: #031f38;
    --yellow-color: #f3cc04;
    --orange-color: #fba304;
    --white-color: #ffffff;
    --grey-color: #e9e6e6;
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-yellow {
    background-color: var(--yellow-color);
}

.bg-grey {
    background-color: var(--grey-color);
}

.text-primary {
    color: var(--primary-color);
}

.text-yellow {
    color: var(--yellow-color);
}


